

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**/
html,
  body {
    color: white;
}
h1{
    
    font-size: 55px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    font-size: 20px;
    text-align: justify;
    width:90vw;
    padding-left: 120px;

}
.Detalle1{
    top: 50%;
}
.Detalle2{
    top: 55%;
}
.Detalle3{
    top: 60%;
}
.Detalle4{
    top: 65%;
}
header{
    height: 100vh;
    background: linear-gradient(240deg,#9ed6f0, #8fdaec);
    position: relative;
    color: white;
    z-index: -1;
}

.nubes {
    height: 150px;
    position: absolute;
    animation-name: movecloud;
}
.nubes:first-child{
    top: 15%;
    left: 0%;
}

.nubes:nth-child(2){
    left: 19%;
    top: 4%;
}
.nubes:nth-child(3){
    height: 250px;
    left: 71%;
    top: 4%;

}
.intro-text{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.edif1 {
    width: 100%;
    height: 100%;
    bottom: 0%;
    position: absolute;
    object-fit: cover;
}
.edif2{
    bottom: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edif3{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    object-fit: cover;
}

.animation{
    height: 100vh;
    background-color: #262626;
    position: relative;
    overflow: hidden;
}

.animation h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

  /*MEDIA QUERIES*/

  @media (max-width:768px){
      header{
          overflow-x: hidden;
      }
      .nubes:nth-child(1){
        top: 4%;
    }
    .nubes:nth-child(2){
      top: 14%;
  }
    .nubes:nth-child(3){
        left: 56%;
        top: -1%;
    }
    .edif1,.edif2,.edif3{
        object-fit: cover;
        object-position: left;
    }
    .edif1{
        height: 100%;
    }
    .edif2{
        height: 95%;
    }
    .edif3{
        height: 90%;
    }
    .logo{
        left: 30%;
        top: 33px;
        width: 140px;
    }
  }
  @media (max-width:900px) and (max-height:450px){
    header{
      overflow-x: hidden;
  }
  }